@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.nav {
  background-color: $grey-2;
  height: 80px;
  width: 100%;

  @include responsive(medium) {
    width: 90px;
    height: 100%;
  }
}
